<%if @notice == "Message send successfully"%>
  <p class="alert alert-success notice"><%=@notice%></p>
<%elsif @notice == "Please check your connection message not send"%>
  <p class="alert alert-warning notice"><%=@notice%></p>
<%else%>

<%end%>
<table id= "table-data" style="margin-top: 5%"  class="table table-condensed table-striped table-bordered nowrap" width="100%">
  <thead>
    <tr>
      <th>Topic</th>
      <th>Message</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody style="height:100px;">
    <% actuator_publish_message.each do |publish| %>
      <tr>
        <td><%= publish.topic %></td>
        <td><%= publish.message %></td>
        <td><%= publish.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script type="text/javascript">
   $(".notice").fadeOut(5000);
</script>