<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<table id= "table-data" class="table table-condensed table-striped table-bordered nowrap" width="100%">
  <thead>
    <tr>
      <th>CMC Name</th>
      <th>CMC ID</th>
      <th>CMC Radio</th>
      <th>R1</th>
      <th>R2</th>
      <th>R3</th>
      <th>R4</th>
      <th>R5</th>
      <th>R6</th>
      <th>R7</th>
    </tr>
  </thead>
  <tbody style="height:100px;">
    <% devices.each_with_index do |device,i| %>
      <% if ( device.r1 == "1" ) %>
        <% device.r1 = 3 %>
      <% elsif (device.r1 == "0" ) %>
        <% device.r1 = 1 %>
      <% else %>
        <% device.r1 = "2" %>
      <% end %>

      <% if ( device.r2 == "1" ) %>
        <% device.r2 = 3 %>
      <% elsif (device.r2 == "0" ) %>
        <% device.r2 = 1 %>
      <% else %>
        <% device.r2 = "2" %>
      <% end %>
      
      <% if ( device.r3 == "1" ) %>
        <% device.r3 = 3 %>
      <% elsif (device.r3 == "0" ) %>
        <% device.r3 = 1 %>
      <% else %>
        <% device.r3 = "2" %>
      <% end %>
      
      <% if ( device.r4 == "1" ) %>
        <% device.r4 = 3 %>
      <% elsif (device.r4 == "0" ) %>
        <% device.r4 = 1 %>
      <% else %>
        <% device.r4 = "2" %>
      <% end %>
      
      <% if ( device.r5 == "1" ) %>
        <% device.r5 = 3 %>
      <% elsif (device.r5 == "0" ) %>
        <% device.r5 = 1 %>
      <% else %>
        <% device.r5 = "2" %>
      <% end %>
      
      <% if ( device.r6 == "1" ) %>
        <% device.r6 = 3 %>
      <% elsif (device.r6 == "0" ) %>
        <% device.r6 = 1 %>
      <% else %>
        <% device.r6 = "2" %>
      <% end %>
      
      <% if ( device.r7 == "1" ) %>
        <% device.r7 = 3 %>
      <% elsif (device.r7 == "0" ) %>
        <% device.r7 = 1 %>
      <% else %>
        <% device.r7 = "2" %>
      <% end %>
      
      <tr class="device-info id-<%= i+1%>">
        <td class="device-name" value="<%= device.name %>"><%= device.name %></td>
        <td class="device-id_code" value="<%= device.id_code %>"><%= device.id_code %></td>
        <td class="device-communication-id" value="<%= device.id_communication %>"><%= device.id_communication %></td>
        <td class = "r1">
          <input type="range" id="RangeFilter" name="points" min="1" class="rangeAll" max="3" value="<%= device.r1 %>">
          <% if ( device.r1 == "1" ) %>
            <span class="span1">Off</span>
          <% elsif (device.r1 == "2" ) %>
            <span class="span1" >X</span>
          <% else %>
            <span class="span1" >On</span>
          <% end %>
          
        </td>
        <td class = "r2">
          <input type="range" id="RangeFilter1" name="points" min="1" class="rangeAll" max="3" value="<%= device.r2 %>">
          <% if ( device.r2 == "1" ) %>
            <span class="span1">Off</span>
          <% elsif (device.r2 == "2" ) %>
            <span class="span1" >X</span>
          <% else %>
            <span class="span1" >On</span>
          <% end %>
        </td>
        <td class = "r3">
          <input type="range" id="RangeFilter2" name="points" min="1" class="rangeAll" max="3" value="<%= device.r3 %>">
          <% if ( device.r3 == "1" ) %>
            <span class="span1">Off</span>
          <% elsif (device.r3 == "2" ) %>
            <span class="span1" >X</span>
          <% else %>
            <span class="span1" >On</span>
          <% end %>
        </td>
        <td class = "r4">
          <input type="range" id="RangeFilter3" name="points" min="1" class="rangeAll" max="3" value="<%= device.r4 %>">
          <% if ( device.r4 == "1" ) %>
            <span class="span1">Off</span>
          <% elsif (device.r4 == "2" ) %>
            <span class="span1" >X</span>
          <% else %>
            <span class="span1" >On</span>
          <% end %>
        </td>
        <td class = "r5">
          <input type="range" id="RangeFilter4" name="points" min="1" class="rangeAll" max="3" value="<%= device.r5 %>">
          <% if ( device.r5 == "1" ) %>
            <span class="span1">Off</span>
          <% elsif (device.r5 == "2" ) %>
            <span class="span1" >X</span>
          <% else %>
            <span class="span1" >On</span>
          <% end %>
        </td>
        <td class = "r6">
          <input type="range" id="RangeFilter5" name="points" min="1" class="rangeAll" max="3" value="<%= device.r6 %>">
          <% if ( device.r6 == "1" ) %>
            <span class="span1">Off</span>
          <% elsif (device.r6 == "2" ) %>
            <span class="span1" >X</span>
          <% else %>
            <span class="span1" >On</span>
          <% end %>
        </td>
        <td class = "r7">
          <input type="range" id="RangeFilter6" name="points" min="1" class="rangeAll" max="3" value="<%= device.r7 %>">
          <% if ( device.r7 == "1" ) %>
            <span class="span1">Off</span>
          <% elsif (device.r7 == "2" ) %>
            <span class="span1" >X</span>
          <% else %>
            <span class="span1" >On</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <button class="btn btn-info send-msg" style="font-size: 25px; width: 10%;">Send</button>
    </div>
  </div>
</div>

<div class="actuator_publish">
  <%= render partial: 'devices/actuator_publish_table', locals: {actuator_publish_message: @actuator_publish_message} %>
</div>

<script type="text/javascript">
  $(".rangeAll").on("change",function(){
    $(this).closest("td").css({"background-color": "#D3D3D3"});
    if($(this).val() === "1"){
      $(this).next("span").text("Off")
    }else if($(this).val() === "2"){
      $(this).next("span").text("X")
    }else if($(this).val() === "3"){
      $(this).next("span").text("On")
    }
  })

  $(".send-msg").on("click",function(){
    var device_count = "<%=devices.count%>"
    var r1_arr = [];
    var r2_arr = [];
    var r3_arr = [];
    var r4_arr = [];
    var r5_arr = [];
    var r6_arr = [];
    var r7_arr = [];
    var device_name_arr = [];
    var device_id_code_arr = [];
    var device_id_communication_arr = [];
    var arr = [];
    for(i = 1; i <= device_count; i++ ){
      var r1 = $(".id-"+i).children(".r1").children("#RangeFilter").val();
      var r2 = $(".id-"+i).children(".r2").children("#RangeFilter1").val();
      var r3 = $(".id-"+i).children(".r3").children("#RangeFilter2").val();
      var r4 = $(".id-"+i).children(".r4").children("#RangeFilter3").val();
      var r5 = $(".id-"+i).children(".r5").children("#RangeFilter4").val();
      var r6 = $(".id-"+i).children(".r6").children("#RangeFilter5").val();
      var r7 = $(".id-"+i).children(".r7").children("#RangeFilter6").val();
      var device_name = $(".id-"+i).children(".device-name").attr("value");
      var device_id_code = $(".id-"+i).children(".device-id_code").attr("value");
      var device_id_communication = $(".id-"+i).children(".device-communication-id").attr("value");
      if (r1 == "2"){
        r1 = "x"
      }else if(r1 == "1"){
        r1 = "0"
      }else if(r1 == "3"){
        r1 = "1"
      }

      if (r2 == "2"){
        r2 = "x"
      }else if(r2 == "1"){
        r2 = "0"
      }else if(r2 == "3"){
        r2 = "1"
      }

      if (r3 == "2"){
        r3 = "x"
      }else if(r3 == "1"){
        r3 = "0"
      }else if(r3 == "3"){
        r3 = "1"
      }

      if (r4 == "2"){
        r4 = "x"
      }else if(r4 == "1"){
        r4 = "0"
      }else if(r4 == "3"){
        r4 = "1"
      }

      if (r5 == "2"){
        r5 = "x"
      }else if(r5 == "1"){
        r5 = "0"
      }else if(r5 == "3"){
        r5 = "1"
      }

      if (r6 == "2"){
        r6 = "x"
      }else if(r6 == "1"){
        r6 = "0"
      }else if(r6 == "3"){
        r6 = "1"
      }

      if (r7 == "2"){
        r7 = "x"
      }else if(r7 == "1"){
        r7 = "0"
      }else if(r7 == "3"){
        r7 = "1"
      }

      r1_arr.push(r1)
      r2_arr.push(r2)
      r3_arr.push(r3)
      r4_arr.push(r4)
      r5_arr.push(r5)
      r6_arr.push(r6)
      r7_arr.push(r7)
      device_name_arr.push(device_name)
      device_id_code_arr.push(device_id_code)
      device_id_communication_arr.push(device_id_communication)
      arr.push(r1,r2,r3,r4,r5,r6,r7,device_name,device_id_code,device_id_communication)
    }
    console.log(arr)
    $.ajax({
      url: "/mqtt_connection/publish_actuator_message",
      type: "GET",
      // data: {"r1" : r1,"r2" : r2,"r3" : r3,"r4" : r4,"r5" : r5,"r6" : r6,"r7" : r7},
      data: {"data": arr },
      success: function (data) { 
        // append data to your page
        // $("page_element").html(data);
      }
    });
  })

</script>

