
<%@mqtt_client = SinapseMQTTClientSingleton.instance%>
<%if @notice == "Topic Have been Subscribed"%>
  <p class="alert alert-success notice"><%=@notice%></p>
<%elsif @notice == "Please check your connection reconnect the mqtt client to subscribe topic"%>
  <p class="alert alert-warning notice"><%=@notice%></p>
<%else%>
<%end%>
<table id= "table-data"   class="table table-condensed table-striped table-bordered nowrap" width="100%">
  <thead>
    <tr>
      <th>Topic</th>
    </tr>
  </thead>
  <tbody style="height:100px;">
    <% if @mqtt_client.connected? %>  
      <% subscribe_topic.each do |subscribe| %>
        <% if subscribe.periodic_topic.present? %>  
          <tr>
            <td><%= subscribe.periodic_topic %></td>
          </tr>
          <tr>
            <td><%= subscribe.measurement_topic %></td>
          </tr>  
          <tr>
            <td><%= subscribe.alert_topic %></td>
          </tr>  
          <tr>
            <td><%= subscribe.debug_topic %></td>
          </tr>
        <% end %>  
      <% end %>
    <% end %>
  </tbody>
</table>

<br><br>
<!-- <hr style="height:1px;border:none;color:#333;background-color:#333;margin-top: 11px;">
<center><h2><b>Last messages received</b></h2></center>
<hr style="height:1px;border:none;color:#333;background-color:#333;">
<br><br>
<table id= "table-data"   class="table table-condensed table-striped table-bordered nowrap" width="100%">
  <thead>
    <tr>
      <th>Topic</th>
      <th>Message</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody style="height:100px;">
    <% publish_message.each do |publish| %>
      <tr>
        <td><%= publish.topic %></td>
        <td><%= publish.message %></td>
        <td><%= publish.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<hr style="height:1px;border:none;color:#333;background-color:#333;">
<center><h2><b>Last messages</b></h2></center>
<hr style="height:1px;border:none;color:#333;background-color:#333;">
<br><br>

<div class="table-overflow">
  <table id= "table-data" class="table table-condensed table-striped table-bordered nowrap" width="100%">
    <thead>
      <tr>
        <th>Topic</th>
        <th>Message</th>
        <th>Time</th>

      </tr>
    </thead>
    <tbody style="height:100px;">
      <% if @mqtt_client.connected? %>
        <% last_messages.each_with_index do |message,i| %>
          <tr>
            <td><%=message.topic%></td>
            <td><%= "#{message.I1}" "#{message.I2}" "#{message.I3}" "#{message.IN}" "#{message.U12}" "#{message.U23}" "#{message.U32}" "#{message.V1N}" "#{message.V2N}" "#{message.V3N}" "#{message.P1}" "#{message.P2}" "#{message.P3}" "#{message.Q1}" "#{message.Q2}" "#{message.Q3}" "#{message.S1}" "#{message.S2}" "#{message.S3}" "#{message.FDP1}" "#{message.FDP2}" "#{message.FDP3}" "#{message.FDPS1}" "#{message.FDPS2}" "#{message.FDPS3}" "#{message.EP1}" "#{message.EP2}" "#{message.EP3}" "#{message.EQ1}" "#{message.EQ2}" "#{message.EQ3}" "#{message.ES1}" "#{message.ES2}" "#{message.ES3}" "#{message.F}" %></td>
            <td><%=message.TIMESTAMP%></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<style type="text/css">
  .table-overflow{
    overflow-x: scroll;
  }
</style>


<script type="text/javascript">
   $(".notice").fadeOut(5000);
</script>